*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width:100%;
  height: 100vh;
  place-items: center;
  display: grid;
  background-color: blueviolet;
}
.container{
  background-color:white;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.container h2{
  margin-bottom: 10px;
}
.container input{
  height: 40px;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 4px;
  outline:none;
  padding: 0 10px;
  margin-bottom: 10px;
}
.btns button{
  margin-right: 7px;
  font-size: 1rem;
  padding:8px 17px;
  border:none;
  outline:none;
  border-radius: 3px;
  text-transform: capitalize;
  color: white;
  opacity: .6;
  cursor: pointer;
  transition-duration: 3l00ms;

}
.btns button:first-child{
  background-color: green;
}
.btns button:last-child{
  background-color: blue;
}
.btns button:hover{
  opacity: 1;
}